body {background-image: linear-gradient(to right, rgb(231, 190, 190),rgb(151, 200, 228),rgb(235, 235, 157),rgb(157, 233, 157),rgb(216, 183, 219), rgb(90, 116, 119));}

h1 {color: blueviolet;
    font-family: Jazz LET, fantasy;
text-align: center;
font-size: 45px;}

a:link {color: purple; font-size: xx-large; font-family: Jazz Let, fantasy;}

a:visited {color: darkmagenta}

.center {display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 50%}

    

